src/main/mule/word-timezone-demo2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c1b3263a-c460-41d8-9d5a-dff7f9247270" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="aa16b20c-79bd-49ad-95af-19137bd5b7e7" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi" />
	</http:request-config>
	<flow name="word-timezone-demo2Flow" doc:id="19c6fa6d-3538-4d4a-80fd-d4d6c582c3f1" >
		<http:listener doc:name="Listener" doc:id="676a572c-533a-461a-a7b6-33c358d94599" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="cd2f5ee3-9e10-4e1f-8b63-9a5e7932a3ed" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	region : attribute.uriParams.region,
	city : attribute.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
